@{
    Page.Title = "Acerca de nosotros";
}

<section id="main">
    <h1>Breve descripción de Powe Store</h1>
    <p>Power Store, es una tienda Virtual que ofrece a sus cliente articulos, insumos y maquinas para el acondicionamiento del cuerpo. si quieres lucir un cuerpo de 10 estas en el lugar y el momento apropiado, con un solo click obtendras tu producto en la puerta de tu casa. lo mejor es que nos puedes visitar las 24 horas del dia los 7 dias de la semana.
    </p>
</section>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Búscanos", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>
